.errormsg {
    color: #ff0000;
    font-size: 13px;
    display: block;
    position: relative !important;
    top: -7px !important;
    left: 4px !important;
    text-align: left !important;
}

.success_msg_bar {
    background: #dff0d8 !important;
    color: #3c763d;
    border: 1px solid #d6e9c6;
}

.customizediv {
    background: #f2f2f2 !important;
    border-top: 1px solid #fff !important;

}

.errorMsgCaptcha {
    color: #ff0000;
    font-size: 13px;
    display: block;
    position: relative !important;
    top: -17px !important;
    left: -165px !important;
    text-align: left;
}

.btn {
    display: inline-block;
    font-weight: 400;
    /* color: #212529; */
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border: none;
}

.Toastify__toast-container {
    z-index: 9999;
    -webkit-transform: translate3d(0, 0, 9999px);
    position: fixed;
    padding: 4px;
    width: auto;
    box-sizing: border-box;

}

.Toastify__toast--success {
    background: #dff0d8 !important;
    color: #3c763d !important;
    border: 1px solid #d6e9c6 !important;
    font-family: "Segoe UI" !important;
    font-weight: normal !important;
    font-size: 16px !important;
}

.modal-body .control-label {
    padding: 5px 0px 5px 0 !important;
}

.modal-body .control-label {
    margin-bottom: 0px !important;
    padding: 7px 0px !important;
}

label {
    font-weight: normal !important;
}

label {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 4px !important;
    color: #666;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.modal-body {
    padding: 16px 16px 0px 16px;
}

.modal-body {
    padding: 16px 16px 8px 16px;
    position: relative;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.close {
    color: #000 !important;
    font-weight: normal !important;
    opacity: 0.8 !important;
    position: relative;
    right: 7px;
    left: 0px;
    bottom: 6px;
    margin-top: -2px;
    font-size: 30px !important;
}

.navbar-default .navbar-nav>.active>a:hover {
    background-color: #a7e7ff;
    border-radius: 0px !important;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: #a7e7ff;
    border-radius: 0px !important;
}

.navbar {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -oborder-radius: 0px;
    margin: 0px !important;
    padding: 0px !important;
    border-bottom: 3px solid #a7e7ff !important;
    border-top: 1px solid #e7e7e7 !important
}

.navbar-nav>li>a:hover {
    background: #a7e7ff !important;
}

#cssmenu ul li.active a {
    color: #333;
    background-color: #a7e7ff;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    color: #000 !important;
    text-decoration: none;
    background-color: #a7e7ff !important;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #555353;
    background-color: #a7e7ff;
    border-radius: 4px;
}

.profile-pic .dropdown-item {
    padding: 0.25rem 0rem;
}

.profile-pic .dropdown-menu>a {
    border-bottom: none !important;
}

.profile-pic .dropdown-menu a {
    padding: 4px 8px !important;
    font-size: 14px !important;
    border-bottom: 1px solid #a7e7ff;
    line-height: 1.42857143 !important;
    height: auto;
    display: block;
    border-bottom: none !important;
}

.dropdown-menu a {
    padding: 0px !important;
    font-size: 14px !important;
    border-bottom: 1px solid #a7e7ff;
    line-height: 1.42857143 !important;
    height: auto;
    display: block;
    border-bottom: none !important;
}

.form-control::-webkit-input-placeholder {
    /* Edge */
    color: #000 !important;
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer */
    color: #000;
}

.form-control::placeholder {
    color: #000;
}

.form-control:focus {
    color: #000 !important;
}

.errormsg1 {
    color: #ff0000;
    font-size: 13px;
    display: block;
    position: relative !important;
    top: -16px !important;
    left: 4px !important;
    text-align: left !important;
}

.profile-pic .dropdown-menu {
    min-width: 200px !important;
    position: absolute !important;
    will-change: transform !important;
    top: 0px !important;
    transform: translate3d(0px, 38px, 0px) !important;
}

.dropdown-menu {
    background-color: #f8f8f8 !important;
    border-radius: 0px !important;
    min-width: 180px !important;
    padding: 0px !important;
    text-align: left;
    -webkit-box-shadow: 0 5px 5px rgb(0 0 0 / 15%) !important;
    box-shadow: 0 5px 5px rgb(0 0 0 / 15%) !important;
    /* border: 1px solid #a7e7ff !important; */
    border-bottom: none !important;
    border-radius: 8px 8px 8px 8px !important;
    margin: 0px 0px 0px 0px !important;
}

.errormsg2 {
    color: #ff0000;
    font-size: 13px;
    display: block;
    position: relative !important;
    top: -2px !important;
    left: 4px !important;
    text-align: left !important;
}

.wrapper {
    overflow-x: hidden !important;
}

.react-datepicker-wrapper {
    display: block !important;
    position: relative !important;
    width: 85% !important;
    /*  width: 95%; */
}

.div-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 5px;
    width: 100%;
    height: 10vh;
}

.card-body {
    padding: 16px 16px 16px 16px !important;
    border-top: none;
    /* min-height: 100px; */
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: none;
    font-weight: bold !important;
}

.mandatory {
    border: 1px solid #dd4b39 !important;
}

.react-select-mandatory {
    border: 1px solid #dd4b39 !important;
    z-index: 100 !important;
    border-radius: 4px;
}

.chatFont {
    font-size: 12px;
    font-weight: normal;
    color: grey;
}

.form-control[disabled],
fieldset[disabled] {
    background-color: #ebebe4 !important;
    opacity: 1;
}

.modal-body.form2 {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    margin-top: -20px !important;
}

.media-body h1 {
    color: #000;
    font-size: 18px;
    margin: 0;
}

.comment-name {
    width: 30px;
    height: 30px;
    background: #10c5eb;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    padding: 3px 5px;
    border-radius: 24px;
    margin-right: 10px;
}

.noHover {
    pointer-events: none !important;
}

.btn-group .btn:hover {
    background: #008fd5 !important;
    color: #fff !important;
}

.react-bootstrap-table {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.dashboard .table>thead>tr>th {
    border-bottom: 1px solid #ddd !important;
    border-top: 1px solid #ddd !important;
    color: #000 !important;
    font-weight: normal;
    padding: 10px 10px 7px 10px !important;
    cursor: pointer;
}

/* Pagination */
.col-lg-6 {
    width: 50%;
}

.pagination {
    border-radius: 4px;
    border: 1px solid #ddd !important;
    border-radius: 22px !important;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
    font-size: 14px !important;
    font-weight: bold;
    float: right;
    padding: 0px 1px 0px 3px;
}

.pagination>li {
    display: inline;
}

/***this is commented because of ck editor bullet issues****/
/* ul li {
        list-style: none !important;
    } */

.page-item.active .page-link {
    background-color: #168fce !important;
    border-color: #168fce !important;
    border-radius: 100%;
    color: #fff !important;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    border-top-left-radius: 22px !important;
    border-bottom-left-radius: 22px !important;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #168fce !important;
    border-color: #999 !important;
    color: #fff !important;
    border-radius: 100% !important;
    padding: 3px 9px 1px !important;
    margin-top: 5px;
    margin-left: 2px;
    margin-right: 2px;
}

.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #000 !important;
    text-decoration: none;
    background-color: #fff;
    border: none !important;

}

.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    /* padding: 6px 12px; */
    margin-left: -1px;
    line-height: 1.42857143;
    color: #000 !important;
    text-decoration: none;
    background-color: #fff;
    border: none !important;
    padding: 8px 12px 5px !important;

}

.pagination>li>a {
    border-right: none !important;
    border-left: none !important;
}

.page-link {
    color: #168fce;
}

.page-link {
    position: relative;
    display: block;
    margin-left: 3px !important;
    line-height: 1.25;
    color: #000 !important;
    background-color: transparent !important;
    border: none !important;
    font-size: 13px;
    padding: 6px 10px 4px 10px;
    border-radius: 100%;
    margin: 0px 1px;
}

a {
    color: #337ab7;
    text-decoration: none !important;
}

.btn-outline-info {
    color: #0078d4;
    border-color: #0078d4;
}

.btn-outline-info:hover {
    color: #fff;
    background-color: #0078d4;
    border-color: #0078d4;
}

.errormsgs {
    color: #ff0000;
    font-size: 13px;
    display: block;
    position: relative !important;
    top: -2px !important;
    left: 4px !important;
    text-align: left !important;
}




.btn-sutisoft {
    background-color: #0078d4 !important;
    border-color: #168fce !important;
    color: #fff !important;
    margin-bottom: 2px !important;
    margin-left: 1px;
    outline: none;
}


.btn-sutisoft {
    background-color: #0078d4;
    border-color: #168fce;
    color: #fff !important;
    margin-left: 1px;
    outline: none;
    padding: 4px 16px 5px 16px !important;
    font-size: 16px !important;
}

.btn-sutisoft:hover,
.btn-sutisoft:focus,
.btn-sutisoft:active,
.open>.dropdown-toggle.btn-sutisoft {
    background-color: #0078d4 !important;
    border-color: #168fce;
    color: #fff !important;
    outline: none;
}

.pagination {
    border: 1px solid #ddd !important;
    border-radius: 22px !important;
    -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.60);
    -moz-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
    font-size: 16px !important;
    font-weight: bold;
    margin-bottom: 16px !important;
    padding: 3px 3px 4px 3px;
}

.pagination {
    border-radius: 4px;
    border: 1px solid #ddd !important;
    border-radius: 22px !important;
    -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.60);
    -moz-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
    font-size: 16px !important;
    font-weight: bold;
}

.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}

.value {
    color: #818181;
    font-weight: normal !important;
    font-size: 14px;
}

.list-caption {
    color: #000;
    font-size: 18px;
    width: 100%;
    margin-bottom: 16px;
    margin-left: 17px !important;
    margin-top: 8px;
}

.main-header .head-header2 {
    font-size: 18px;
    vertical-align: middle;
    display: block;
    text-align: center;
    padding: 11px;
}

.content-box {
    border: 1px solid #ccc;
    padding: 16px;
    margin-bottom: 16px;
}

.content-box .badge {
    background: #fff !important;
    border-radius: 4px !important;
    border: 1px solid #005a9e;
    color: #005a9e !important;
    font-size: 13px !important;
    font-weight: normal !important;
    top: 5px;
    margin-top: -3px !important;
    margin-left: 0px;
    cursor: pointer;
    margin-top: inherit;
}

.ck-editor {
    max-width: auto;
}

.h4 {
    font-size: 18px !important;
}

.react-bootstrap-table-pagination-hidden {
    display: none;
}

/* .page-item.active {
        display: none;
      } */

.errormsg1 {
    color: #ff0000;
    font-size: 13px;
    display: block;
    position: relative !important;
    top: 0px !important;
    left: 3px !important;
    text-align: left !important;
}

.react-datepicker-wrapper {
    display: block !important;
    width: 95%;
}

.react-datepicker {
    font-size: 13px;
}

.react-datepicker__header {
    padding-top: 0.8em;
}

.react-datepicker__month {
    margin: 0.4em 1em;
}

.react-datepicker__day-name,
.react-datepicker__day {
    width: 1.9em;
    line-height: 1.9em;
    margin: 0.166em;
}

.react-datepicker__current-month {
    font-size: 1em;
}

.react-datepicker__navigation {
    top: 1em;
    line-height: 1.7em;
    border: 0.45em solid transparent;
}

.react-datepicker__navigation--previous {
    border-right-color: #ccc;
    left: 1em;
}

.react-datepicker__navigation--next {
    border-left-color: #ccc;
    right: 1em;
}

.react-datepicker-popper[data-placement^="bottom"] {
    margin-top: 5px;
    z-index: 999;
}

.react-datepicker-popper[data-placement^="top"] {
    margin-bottom: 5px;
    z-index: 999;
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle {
    margin-right: 100px;
}

.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle {
    margin-right: 100px;
}

.react-select-mandatory {
    border: 1px solid #dd4b39 !important;
    z-index: 100 !important;
    border-radius: 4px;
}

.capitalize-labels {
    text-transform: capitalize;
}

.caption {
    border-bottom: 1px solid #ddd;
    color: #000;
    font-size: 18px;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 16px;
}

.errormsg2 {
    color: #ff0000;
    font-size: 13px;
    display: block;
    position: relative !important;
    top: 0px !important;
    left: 2px !important;
    text-align: left !important;
}

.list-caption1 {
    color: #000;
    font-size: 18px;
    width: 100%;
    margin-bottom: 16px;
    margin-left: 4px !important;
    margin-top: 8px;
}

.ck-editor__editable {
    max-height: 400px !important;
}

.errormsg3 {
    color: #ff0000;
    font-size: 13px;
    display: block;
    position: relative !important;
    top: 0px !important;
    left: 3px !important;
    text-align: left !important;
}

.ck-editor__editable {
    font-family: 'CustomFont1', sans-serif !important;
    /* Additional styles */
}

.disabled-date-picker {
    background-color: #f2f2f2;
    opacity: 0.5;
    cursor: not-allowed;
}

.main-header .list-inline-item {
    padding: 6px !important;
    margin-top: 0px;
    vertical-align: middle;
    margin-right: 15px !important;
}

.headingCount {
    border: #1a8ecd solid 1px;
    border-radius: 4px;
    color: #1a8ecd;
    font-size: 11px;
    padding: 0px 3px 0px;
    line-height: 16px;
    text-align: center;
    position: absolute;
    left: 16px;
    top: -2px;
    z-index: 10;
    background: #fff;
}

mark:not(.ck-content mark):not(.popup-div mark) {
    background: #eef108 !important;
}

mark.current {
    background: orange !important;
}

/*search drop css *
 

/* .s-drop{width:360px; border:1px solid #ededed; border-radius:8px; background:#fff;padding:8px;position:absolute;top:52px; left:165px; } */

.pen-red {
    background-color: red;
}

.pen-green {
    background-color: green;
}

.marker-yellow {
    background-color: yellow;
}

.marker-green {
    background-color: lightgreen;
}

.marker-pink {
    background-color: pink;
}

.marker-blue {
    background-color: lightblue;
}

.category {
    font-weight: 600;
    padding: 8px 0 8px 8px;
}

.category:hover {
    background: none !important
}



/*end search drop css */
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-top: 1px solid #f5f5f7 !important;
    line-height: 22px !important;
    white-space: nowrap;
    padding: 6px 10px !important;
}
